@import './variables.scss';

.bg-chip-color-1 {
  background: $tertiary-color;
}

.bg-chip-color-2 {
  background: $chip-color-2;
}

.bg-chip-color-3 {
  background: $chip-color-3;
}

.bg-chip-color-4 {
  background: $chip-color-4;
}

.bg-chip-color-5 {
  background: $chip-color-5;
}

.bg-chip-color-6 {
  background: $chip-color-6;
}