$primary-color: #238637;
$secondary-color: #0a0e2633;
$white-text: #edf1fe;
$tertiary-color: #3178c6;
$default: #000;
$empty-color: #c5c5c5;
$border-color: #9ca3b0;
$chip-color-2: #c63177;
$chip-color-3: #31c688;
$chip-color-4: #c63131;
$chip-color-5: #4c31c6;
$chip-color-6: #c69931;
$skeleton-grey: #e9e9e9;
$skeleton-gradient: linear-gradient(to right, $empty-color 0%, $empty-color 35%, $skeleton-grey 50%, $empty-color 65%, $empty-color 100%);